html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.table-api {
  width: 100%;
  height: 70vh !important;
  overflow-y: scroll !important;
  border: 1px solid rgba(128, 128, 128, 0.573);

}

tbody tr td,
th {
  text-align: center;
}

.home {
  display: flex;
  justify-content: space-between;
}

.home-table {
  width: 45%;
}

.add-order-form {
  display: flex;
  justify-content: flex-start;
  padding-left: 40px;
  padding-top: 20px;
}

.add-order {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  border: 1px solid gray;
  border-radius: 8px;
  height: 70px;
}

.form-group {
  width: 28%;
}

.form-group select,
input {
  height: 40px;
  width: 100%;
  border: 1px solid rgba(161, 159, 159, 0.47);
  border-radius: 8px;
  padding-left: 8px;
  outline: none;
}

.submit-btn {
  background-color: #26b050;
  color: white;
  text-transform: uppercase;
  border: 1px solid #26b050 !important;
}

.submit-btn:hover {
  opacity: 0.9;
}

.nav-item a:hover {
  color: #258cfb;
}